@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital@1&family=Source+Code+Pro:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* CONTAINER */
.contactcontainer{
    display: flex;
}


/* Sideb bar */
.contactsidebar{
    background-color: rgb(227 227 227);
    width: 200px;
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
    /* z-index: -1; */
    
}
#contactsidebarsticky{
    position: fixed;
    top: 0px;
}
.contactsidebar nav{
    padding: 47px;
}
.contactsidebar nav li{
    list-style: none;
    font-size: 22px;
    padding: 55px 0px 0px 0px;
}
.contactsidebar nav li a{
    text-decoration: none;
    color:black;
}
.contactsidebargo{
    transform: translateX(-200px);
    position: absolute;

}

/* MAIN */
.contactmain{
    width: 80vw;
    height: 100vh;
    padding: 20px;
    flex-wrap: wrap;
    overflow-x: hidden;
    margin-left: 13rem;
}

.contactform{
    font-family: 'Fira Sans', sans-serif;
    padding-top: 50px;
    padding-left: 70px;
    background-color: #ededed;
    border-radius: 3%;
    height:90vh;

}
.contactform form{
    margin-left: 75px;
    margin-top: 55px;
}
.contactform h1{
    font-family: 'Source Code Pro', monospace;
    text-align: center;
    width: 77%;
    color: darkcyan;


}

.contactform form div{
    padding: 10px 0px;
    display: flex;
    flex-direction: column;
}
.input{
    width: 30vw;
    padding: 3px;
    border-radius: 6px;
    margin: 6px 0;
}
#checkBox{
    display: flow-root;
}
.contactform form button{
    color: white;
    background-color: #184a54;
    margin-top: 25px;
    padding: 6px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
}
.contactform form button:hover{
    color: rgb(114, 187, 206);;
    background-color: white;
}

#emailHelp {
    font-size: 8px;
    color: rgb(221 60 60);
    margin: -9px 9px;
}
/* FOOTER */

.bottom-container {
    padding-top: 50px;
    height: 120px;
    background-color: #184a54;
    text-align: center;
    width: 100vw;
    z-index: 1;
}

div {
    display: block;
}
.bottom-container  a {
    color: #11999e;
    display: inline-block;
    padding: 0 20px 30px 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    


}
/* FOOTER */

.bottom-container {
    padding-top: 50px;
    height: 120px;
    background-color: #184a54;
    text-align: center;
    width: 100vw;
    z-index: 1;
}

div {
    display: block;
}
.bottom-container  a {
    color: #11999e;
    display: inline-block;
    padding: 0 20px 30px 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}
.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    font-family: "Montserrat", sans-serif;
    


}